{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd",
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "transform-remove-strict-mode",
      {
        loose: true,
        strictMode: false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
